{% extends 'admin/base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block stylesheets %}

    <style>

        span {
            color: white;
        }

        .img-profile {
            width: 7rem;
            height: 7rem;
        }

        .username {
            font-size: 2rem;
            font-weight: bold;
        }

        .email {
            font-size: 1.5rem;
            color: gray;
        }

        section {
            border-radius: 1rem;
            background-color: #303038;
            border: solid 2px #5b6167;
        }

        .topic-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .replies-count {
            font-size: 1.2rem;
            color: gray;
        }

        .activity-date {
            font-size: 1rem;
            color: gray;
        }

        .topic {
            border-radius: 1rem;
        }

        .topic:hover {
            background-color: #1e1f21;
        }

        .reply-content {
            font-size: 1.2rem;
            color: white;
        }

        .reply {
            border-radius: 1rem;
        }

        .reply:hover {
            background-color: #1e1f21;
        }


    </style>


{% endblock %}


{% block body %}

    <main>

        <div class="w-50 m-auto mt-5">
            <div class="d-flex align-items-center">
                <div class="img-profile">
                    <img class="w-100 rounded" src="{{ profile_picture(user) }}"
                         alt="Photo de profil de {{ user.username }}">
                </div>
                <div class="ms-3 d-flex flex-column">
                    <span class="username">{{ user.username }}</span>
                    <span class="email">{{ user.email }}</span>
                </div>
            </div>
        </div>


        <section class="w-50 m-auto mt-5 p-4">

            {% if topics is empty %}
            <p class="text-center">Aucun topic trouvé pour cet utilisateur.</p>
            {% else %}
            <h1>Topic{{ topics|length > 1 ? 's' : '' }} ({{ topics|length }})</h1>

            <hr>


            {% for topic in topics %}

                <a class="topic d-block text-decoration-none p-4"
                   href="{{ path('admin_topic_show', {'id': topic.id}) }}">

                    <div class="d-flex justify-content-between mb-3">
                        <span class="topic-title">{{ topic.title }}</span>
                        <span class="replies-count">{{ topic.getRepliesCount() }} réponse{{ topic.getRepliesCount() > 1 ? 's' : '' }}</span>
                    </div>
                    <span class="activity-date">{{ topic.getLastActivityDate|date("\\l\\e d/m à H\\hi") }}</span>

                </a>

                {% if not loop.last %}
                    <hr>{% endif %}


            {% endfor %}

        {% endif %}

        </section>


        <section class="w-50 m-auto mt-5 p-4">
            {% if replies is empty %}
                <p class="text-center">Aucune réponse trouvée pour cet utilisateur.</p>
            {% else %}
                <h1>Message{{ replies|length > 1 ? 's' : '' }} ({{ replies|length }})</h1>
                <hr>

                {% for reply in replies %}
                    <a class="reply d-block text-decoration-none p-4"
                       href="{{ path('admin_topic_show', {'id': reply.topic.id}) }}">
                        <span class="activity-date">{{ reply.date|date("\\l\\e d/m à H\\hi") }}</span>
                        <div class="row d-flex justify-content-between mb-3 mt-2">
                            <span class="d-block {% if reply.image %} col-6 {% endif %} reply-content">{{ reply.content }}</span>
                            {% if reply.image %}
                                <div class="w-50 col-5">
                                    <img class="img-fluid rounded w-100 h-100"
                                         src="{{ asset('uploads/forum/replies/' ~ reply.image) }}"
                                         alt="Image que l'auteur de la discussion a posté">
                                </div>
                            {% endif %}
                        </div>
                    </a>

                    {% if not loop.last %}
                        <hr>{% endif %}

                {% endfor %}
            {% endif %}


        </section>

    </main>



{% endblock %}
