{% extends 'public/base.html.twig' %}

{% block title %}Répondre au post{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <h1>{{ parentPost.title }}</h1>
    <h2>{{ parentPost.content }}</h2>
    <h3>{{ parentPost.user.username }}</h3>

    <h2>Réponses</h2>

    {% for reply in replies %}

        <p>{{ reply.content }}</p>
        <p>{{ reply.user.username }}</p>

    {% endfor %}



    {{ form_start(formReplyPostView) }}

    <div>
        {{ form_label(formReplyPostView.content) }}
        {{ form_widget(formReplyPostView.content) }}
        {{ form_errors(formReplyPostView.content) }}
    </div>

    <div >
        {{ form_label(formReplyPostView.image) }}
        {{ form_widget(formReplyPostView.image) }}
        {{ form_errors(formReplyPostView.image) }}
    </div>

    <div>
        {{ form_widget(formReplyPostView.Valider) }}
    </div>
    {{ form_end(formReplyPostView) }}

{% endblock %}


