{% extends 'public/base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main>
        <h1>Liste des continents</h1>
        {% for continent in continents %}
            <a class="continent" href="{{ path('continent_show', {'slugContinent': continent.slug}) }}">
                <h2>{{ continent.name }}</h2>
            </a>
        {% endfor %}

        <form>
            <input type="text" name="search" placeholder="Rechercher un pays" value="{{ search|default('') }}">
            <button type="submit"></button>
        </form>

        {% if search %}
            <h2>Résultats de la recherche pour "{{ search }}"</h2>
        {% else %}
            <h2>Choisis un pays</h2>
        {% endif %}

        {% for country in countries %}
            <a class="country"
               href="{{ path('country_show', {'slugContinent': country.continent.slug, 'slugCountry': country.slug}) }}">
                <h2>{{ country.name }}</h2>
                <img src="{{ asset('uploads/country/flags/' ~ country.flag) }}"
                     alt="Drapeau de {{ country.name }}" class="img-fluid my-2 rounded">
            </a>
        {% endfor %}
    </main>

{% endblock %}
