{% extends 'public/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main>

        <h1>Créer un compte</h1>

        {{ form_start(formSignUpView) }}

        <div>
            {{ form_label(formSignUpView.email, 'Email') }}
            {{ form_widget(formSignUpView.email) }}
            {{ form_errors(formSignUpView.email) }}
        </div>

        <div>
            {{ form_label(formSignUpView.username, 'Nom d\'utilisateur') }}
            {{ form_widget(formSignUpView.username) }}
            {{ form_errors(formSignUpView.username) }}
        </div>

        <div>
            {{ form_label(formSignUpView.password, 'Mot de passe') }}
            {{ form_widget(formSignUpView.password) }}
            {{ form_errors(formSignUpView.password) }}
        </div>

        <div>
            {{ form_widget(formSignUpView.submit) }}
        </div>

        {{ form_end(formSignUpView) }}

    </main>

{% endblock %}
