{% extends 'public/base.html.twig' %}

{% block title %}Tutoriel - {{ tutorial.title }}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/tutorial/show/style.scss') }}">
{% endblock %}


{% block body %}

    <main>
        {# img de fond + nom du pays #}
        <section class="w-100 overflow-hidden section-background-image-title mt-5 mb-5">
            <div class="w-100 h-100">
                <img
                        class="w-100 h-100 img-fluid image-center"
                        src="{{ asset('assets/img_uploads/img_tutorials/' ~ tutorial.backgroundImage) }}"
                        alt="Image de fond qui montre un paysage du pays {{ tutorial.title }}">
            </div>
            <h1 class="position-absolute start-50 translate-middle h1-country-name">{{ tutorial.title }}</h1>
        </section>


        {# section parent #}
        <section class="w-75 m-auto">

            <h1 class="text-center h1-identify">Comment identifier le pays</h1>
            {# images avec explications #}
            {% if tutorialParts is empty %}
                <h1 class="text-center text-light">&#x1F477; Tutoriel en construction &#x1F477;</h1>
            {% else %}
                {% for tutorialPart in tutorialParts %}
                    <article class="row w-100 align-items-center article-explain justify-content-between">

                        <div class="col-lg-6 col-12">
                            <img class="img-fluid w-100 h-100"
                                 src="{{ asset('assets/img_uploads/img_tutorials/' ~ tutorialPart.image) }}"
                                 alt="Image descriptif d'un élément du tutoriel {{ tutorial.title }}">
                        </div>

                        <div class="col-lg-6 mt-lg-0 col-12 mt-3">
                            <p class="image-explain">{{ tutorialPart.content|raw }}</p>
                        </div>

                    </article>
                {% endfor %}
            {% endif %}

        </section>
    </main>



{% endblock %}


