{% extends 'admin/base.html.twig' %}

{% block title %}Créer un tutoriel{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <main class="container py-5">

        <h1 class="text-center mb-4">Créer un tutoriel</h1>

        <div class="card bg-dark text-light p-4 shadow-lg">

            {{ form_start(formTutorialView) }}

            <div class="mb-3">
                {{ form_label(formTutorialView.image) }}
                {{ form_widget(formTutorialView.image) }}
                {{ form_errors(formTutorialView.image) }}
            </div>

            <div class="mb-3">
                {{ form_label(formTutorialView.backgroundImage) }}
                {{ form_widget(formTutorialView.backgroundImage) }}
                {{ form_errors(formTutorialView.backgroundImage) }}
            </div>

            <div class="mb-3">
                {{ form_label(formTutorialView.title) }}
                {{ form_widget(formTutorialView.title) }}
                {{ form_errors(formTutorialView.title) }}
            </div>

            <div class="mb-3">
                {{ form_label(formTutorialView.country) }}
                {{ form_widget(formTutorialView.country) }}
                {{ form_errors(formTutorialView.country) }}
            </div>

            <div class="text-center">
                {{ form_widget(formTutorialView.Valider) }}
            </div>

            {{ form_end(formTutorialView) }}
        </div>
    </main>

{% endblock %}
