{% extends 'admin/base.html.twig' %}

{% block title %}Modifier le tutoriel | {{ country.name }}{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main class="container py-5">

        <div class="mb-5 p-4 text-white  text-center">
            <p class="fw-bold fs-4">Image actuelle :</p>
            <img
                    src="{{ asset('uploads/country/tutorials/' ~ currentImage) }}"
                    alt="Image descriptif d'un élément du pays {{ country.name }}"
                    class="img-fluid rounded shadow-lg"
                    style="max-height: 300px; width: auto;">
        </div>


        <h1 class="text-center mb-4">Modifier le tutoriel</h1>

        <div class="card bg-dark text-light p-4 shadow-lg">

            {{ form_start(formTutorialView) }}

            <div class="mb-3">
                {{ form_label(formTutorialView.image) }}
                {{ form_widget(formTutorialView.image) }}
                {{ form_errors(formTutorialView.image) }}
            </div>

            <div class="mb-3">
                {{ form_label(formTutorialView.description) }}
                {{ form_widget(formTutorialView.description) }}
                {{ form_errors(formTutorialView.description) }}
            </div>

            <div class="text-center">
                {{ form_widget(formTutorialView.submit) }}
            </div>

            {{ form_end(formTutorialView) }}
        </div>
    </main>

{% endblock %}
