<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('assets/img_statics/logo_site.ico') }}" type="image/ico">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #121212;
            color: #f1f1f1;
        }

        .navbar {
            background-color: #1e1e1e;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="text-decoration-none text-success" href="{{ path('admin_dashboard') }}"><h3>Dashboard</h3>
            </a>
            <div class="collapse navbar-collapse p-2" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <!-- Menu déroulant pour Continent -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="continentDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Continent
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="continentDropdown">
                            <li><a class="dropdown-item" href="{{ path('list_continents') }}">Liste des continents</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('create_continent') }}">Ajouter un continent</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Menu déroulant pour Pays -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="countryDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Pays
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="countryDropdown">
                            <li><a class="dropdown-item" href="{{ path('list_countries') }}">Liste des pays</a></li>
                            <li><a class="dropdown-item" href="{{ path('create_country') }}">Ajouter un pays</a></li>
                        </ul>
                    </li>

                    <!-- Menu déroulant pour Tutoriels -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="tutorialDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Tutoriels
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="tutorialDropdown">
                            <li><a class="dropdown-item" href="{{ path('list_tutorials') }}">Liste des tutoriels</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('create_tutorial') }}">Ajouter un tutoriel</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('create_tutorialpart') }}">Ajouter une partie de
                                    tutoriel</a></li>
                        </ul>
                    </li>

                    <!-- Forum -->
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ path('admin_forum') }}">Accéder au forum</a>
                    </li>
                </ul>

                <!-- Utilisateur et Déconnexion -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <span class="nav-link">{{ app.user.email }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('admin_logout') }}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% block body %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>
