{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <style>
        .show-user {
            text-decoration: none;
        }

        .user {
            padding: 1rem;
            background-color: #2a2a2a;
            border-radius: 1rem;

            &:hover {
                background-color: #333333;
            }
        }

        h1 {
            color: white;
            font-size: 3rem;

            &:nth-of-type(2) {
                color: rgba(255, 255, 255, 0.49);
                font-size: 2rem;
            }
        }

        .div-img-profile {
            width: 6rem;
            height: 6rem;
        }

        .button-delete {
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 2rem;
            color: #ff0000;
            border: solid 1px #ff0000;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 1rem;
            transition: ease background-color 0.2s, ease color 0.2s;

            &:hover {
                color: #20202A;
                background-color: #ff0000;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <main>
        <h1 class="mt-5 mb-5 text-center">Liste des utilisateurs</h1>

        {% for user in users %}

            <div class="user d-flex w-75 m-auto mb-4 justify-content-between align-items-center">
                <a class="show-user" href="{{ path('admin_show_user', {'id': user.id}) }}">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="div-img-profile me-3">
                            <img src="{{ profile_picture(user) }}"
                                 alt="Image de {{ user.username }}"
                                 class="img-fluid rounded-circle w-100 h-100">
                        </div>
                        <div>
                            <h1 class="me-3">{{ user.username }}</h1>
                            <h1 class="me-3">{{ user.email }}</h1>
                        </div>
                    </div>
                </a>
                <a class="ms-5" href="{{ path('admin_user_delete', {'id': user.id}) }}">Supprimer</a>
            </div>
        {% endfor %}
    </main>

{% endblock %}