{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <style>

        span {
            font-family: Montserrat;
            color: white;
        }

        hr {
            background-color: white;
            height: 1px;
            border: none;
        }

        .img-profile {
            width: 4rem;
            height: 4rem;
        }

        .user {
            text-decoration: none;
            color: black;
            background-color: #303038;
            border: solid 2px #5b6167;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.03);
            }
        }

        .username {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .email {
            font-size: 1rem;
            color: gray;
        }

    </style>
{% endblock %}

{% block body %}
    <main>
        <section class="w-50 m-auto mt-5">
            <h2>Utilisateurs ({{ users|length }})</h2>
        </section>


        <section class="row w-50 m-auto mb-5">

            {% for user in users %}

                <a class="user col m-2 p-4" href="{{ path('admin_show_user', {'id': user.id}) }}">
                    <div class="d-flex align-items-center">
                        <div class="img-profile">
                            <img class="w-100 rounded" src="{{ profile_picture(user) }}"
                                 alt="Photo de profil de {{ user.username }}">
                        </div>
                        <div class="ms-3 d-flex flex-column">
                            <span class="username">{{ user.username }}</span>
                            <span class="email">{{ user.email }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>{{ user.topics|length }} topic{{ user.topics|length > 1 ? 's' : '' }}</span>
                        <span>{{ user.replies|length }} message{{ user.replies|length > 1 ? 's' : '' }}</span>
                    </div>
                    <form class="text-end mt-4" action="{{ path('admin_user_delete', {'id': user.id}) }}" method="post"
                          onsubmit="return confirm('Es-tu sûr de vouloir supprimer cet utilisateur ?');">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </a>

            {% endfor %}

        </section>
    </main>
    {# {{ path('admin_show_user', {'id': user.id}) }}
        {{ profile_picture(user) }}
        {{ user.username }}
        {{ user.email }}
        {{ path('admin_user_delete', {'id': user.id}) }} #}

{% endblock %}