{% extends 'admin/base.html.twig' %}

{% block title %}Créer une partie du tutoriel{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <main class="container py-5">


        <h1 class="text-center mb-4">Créer une partie du tutoriel</h1>

        <div class="card bg-dark text-light p-4 shadow-lg">


            {{ form_start(formTutorialPartView) }}

            <div class="mb-3">
                {{ form_label(formTutorialPartView.image) }}
                {{ form_widget(formTutorialPartView.image) }}
                {{ form_errors(formTutorialPartView.image) }}
            </div>

            <div class="mb-3">
                {{ form_label(formTutorialPartView.content) }}
                {{ form_widget(formTutorialPartView.content) }}
                {{ form_errors(formTutorialPartView.content) }}
            </div class="mb-3">

            <div>
                {{ form_label(formTutorialPartView.tutorial) }}
                {{ form_widget(formTutorialPartView.tutorial) }}
                {{ form_errors(formTutorialPartView.tutorial) }}
            </div>

            <div class="text-center">
                {{ form_widget(formTutorialPartView.Valider) }}
            </div>

            {{ form_end(formTutorialPartView) }}
        </div>
    </main>

    {% block javascripts %}
    {% endblock %}

{% endblock %}
