{% extends 'public/base.html.twig' %}

{% block title %}Créer une discussion{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/forum/post/create/style.css') }}">

{% endblock %}


{% block body %}

    <main>

        <section class="w-50 m-auto mt-5 section-form">

            <h1 class="h1-new-discussion text-center">Créer une nouvelle discussion</h1>

            <div class="w-95 m-auto">
                {{ form_start(formForumPostView) }}
                <div class="w-75">
                    {{ form_widget(formForumPostView.title) }}
                    {{ form_errors(formForumPostView.title) }}
                </div>

                <div class="w-100">
                    {{ form_widget(formForumPostView.content) }}
                    {{ form_errors(formForumPostView.content) }}
                </div>

                <div class="w-25">
                    {{ form_widget(formForumPostView.image) }}
                    {{ form_errors(formForumPostView.image) }}
                </div>


                <div class="text-end">
                    {{ form_widget(formForumPostView.Publier) }}
                </div>
                {{ form_end(formForumPostView) }}
            </div>

        </section>

    </main>

{% endblock %}


