{% extends 'public/base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/forum/post/show/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <main class="flex-grow-1">

        <section class="w-80 m-auto mt-5">

            {# div avec titre/répondre/liste #}
            <div class="row align-items-center div-title-reply p-3 justify-content-between m-0">
                <h1 class="col-7 post-title">{{ post.title }}</h1>
                <a class=" col-2 reply-button text-decoration-none text-center"
                   href="{{ path('reply_post', {'id': post.id}) }}">Répondre</a>
                <a class="col-2 list-posts-button text-decoration-none text-center" href="{{ path('forum') }}">Liste des
                    sujets</a>
            </div>

            {# div post parent et réponses #}
            <div class="div-post-reply mt-5">
                {# div img profil/pseudo/date #}
                <div class="w-95 m-auto">
                    <div class="d-flex pt-3 align-items-center justify-content-between">
                        {# div img profil + pseudo #}
                        <div class="d-flex align-items-center">
                            <div class="div-img-profile me-2">
                                <img class="img-fluid rounded-circle w-100 h-100"
                                     src="{{ asset('assets/img_uploads/img_profile/' ~ post.user.profilePicture) }}"
                                     alt="Image de profil de l'utilisateur">
                            </div>
                            <span class="post-user-username">{{ post.user.username }}</span>
                        </div>
                        {# div date #}
                        <div>
                            <span class="post-date">{{ post.getDatePost|date("\\l\\e d/m à H\\hi") }}</span>
                        </div>
                    </div>
                    <hr class="divider-user-message">

                    {# div content + img #}
                    <div class="d-flex justify-content-between row">
                        <div class="{% if not post.image %}col-12{% else %}col-7{% endif %}">
                            <p class="post-content">{{ post.content }}</p>
                        </div>
                        {# Vérifie si une image existe pour le post #}
                        {% if post.image %}
                            <div class="overflow-hidden div-img-user-post col-5 p-0 m-0">
                                <img class="img-fluid w-100 h-100"
                                     src="{{ asset('assets/img_uploads/img_forum/' ~ post.image) }}"
                                     alt="Image que l'auteur de la discussion a posté">
                            </div>
                        {% endif %}
                    </div>

                    {% if post.user == app.user %}
                        <div class="mt-3 d-flex justify-content-end">
                            <a href="{{ path('update_post', {'id': post.id}) }}"
                               class="button-update text-decoration-none me-3">
                                <i class="fa-regular fa-pen-to-square"></i>
                                Modifier
                            </a>
                            <a href="{{ path('delete_post', {'id': post.id}) }}"
                               class="button-delete text-decoration-none"
                               onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">
                                <i class="fas fa-trash"></i>
                                Supprimer
                            </a>
                        </div>
                    {% endif %}
                </div>
                <hr class="divider-reply">

                {# réponses #}
                {% if replies|length > 0 %}
                    {% for reply in replies %}
                        <div class="w-95 m-auto {% if loop.last %}mb-3{% endif %}">
                            <div class="d-flex pt-3 align-items-center justify-content-between">
                                {# div img profil + pseudo #}
                                <div class="d-flex align-items-center">
                                    <div class="div-img-profile me-2">
                                        <img class="img-fluid w-100 h-100 rounded-circle"
                                             src="{{ asset('assets/img_uploads/img_profile/' ~ reply.user.profilePicture) }}"
                                             alt="Image de profil de l'utilisateur">
                                    </div>
                                    <span class="post-user-username">{{ reply.user.username }}</span>
                                </div>
                                {# div date #}
                                <div>
                                    <span class="post-date">{{ reply.getDatePost|date("\\l\\e d/m à H\\hi") }}</span>
                                </div>
                            </div>
                            <hr class="divider-user-message">

                            {# div content + img #}
                            <div class="d-flex justify-content-between row">
                                <div class="{% if not reply.image %}col-12{% else %}col-7{% endif %}">
                                    <p class="post-content">{{ reply.content }}</p>
                                </div>

                                {% if reply.image %}
                                    <div class="overflow-hidden div-img-user-post col-5 p-0 m-0">
                                        <img class="img-fluid w-100 h-100"
                                             src="{{ asset('assets/img_uploads/img_forum/' ~ reply.image) }}"
                                             alt="Image que l'auteur de la discussion a posté">
                                    </div>
                                {% endif %}
                            </div>

                            {% if reply.user == app.user %}
                                <div class="mt-3 d-flex justify-content-end">
                                    <a href="{{ path('update_reply', {'id': reply.id}) }}"
                                       class="button-update text-decoration-none me-3">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                        Modifier
                                    </a>
                                    <a href="{{ path('delete_reply', {'id': reply.id}) }}"
                                       class="button-delete text-decoration-none"
                                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">
                                        <i class="fas fa-trash"></i>
                                        Supprimer
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% if not loop.last %}
                            <hr class="divider-reply">
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <h1 class="no-reply text-center p-2">&#x1F480;&#x1F480;&#x1F480; </h1>
                {% endif %}

            </div>

        </section>

    </main>

{% endblock %}
