{% extends 'public/base.html.twig' %}

{% block title %}Modifier la discussion{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/forum/post/update/style.css') }}">

{% endblock %}


{% block body %}

    <main>

        <section class="col-10 col-lg-6 m-auto mt-5 section-form">

            <h1 class="h1-new-discussion text-center">Modifier la discussion</h1>

            <div class="w-95 m-auto">

                {{ form_start(formForumUpdatePostView) }}
                <div class="w-75 error">
                    {{ form_widget(formForumUpdatePostView.title) }}
                    {{ form_errors(formForumUpdatePostView.title) }}
                </div>

                <div class="w-100 error">
                    {{ form_widget(formForumUpdatePostView.content) }}
                    {{ form_errors(formForumUpdatePostView.content) }}
                </div>

                <div class="w-25 error">
                    {{ form_widget(formForumUpdatePostView.image) }}
                    {{ form_errors(formForumUpdatePostView.image) }}
                </div>

                <div class="text-end">
                    {{ form_widget(formForumUpdatePostView.Publier) }}
                </div>
                {{ form_end(formForumUpdatePostView) }}
            </div>

        </section>

    </main>


{% endblock %}


