{% extends 'public/base.html.twig' %}

{% block title %}Créer un nouveau topic{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/public/css/forum/topic/form.css') }}">

{% endblock %}


{% block body %}

    <main>

        <section class="w-95 m-auto mt-5 section-form">

            <h1 class="h1-new-discussion text-center">Créer un nouveau topic</h1>

            <div class="w-95 m-auto">
                {{ form_start(formTopicView) }}
                <div class="w-75">
                    {{ form_widget(formTopicView.title, { 'attr': {'class': 'title-topic py-2 px-2 w-100'} }) }}
                    {% for error in formTopicView.title.vars.errors %}
                        <span class="error d-block mt-2 ms-2"><i class="fa-solid fa-circle-exclamation"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="w-100">
                    {{ form_widget(formTopicView.content, { 'attr': {'class': 'message-topic py-2 px-2 w-100'} }) }}
                    {% for error in formTopicView.content.vars.errors %}
                        <span class="error d-block mt-2 ms-2"><i class="fa-solid fa-circle-exclamation"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="w-25">
                    {{ form_widget(formTopicView.image, { 'attr': {'class': 'image-topic w-100'} }) }}
                    {% for error in formTopicView.image.vars.errors %}
                        <span class="error d-block mt-2 ms-2"><i class="fa-solid fa-circle-exclamation"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>


                <div class="text-end">
                    {{ form_widget(formTopicView.submit, { 'attr': {'class': 'button-publish mb-4'} }) }}
                </div>
                {{ form_end(formTopicView) }}
            </div>

        </section>

    </main>

{% endblock %}
