{% extends 'public/base.html.twig' %}

{% block title %}Modifier le topic{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/public/css/forum/topic/form.css') }}">

{% endblock %}


{% block body %}

    <main>

        <section class="w-95 m-auto mt-5 section-form">

            <h1 class="h1-new-discussion text-center">Modifier le topic</h1>

            <div class="w-95 m-auto">
                {{ form_start(formTopicView) }}
                <div class="w-75">
                    {{ form_widget(formTopicView.title, { 'attr': {'class': 'title-topic py-2 px-2 w-100'} }) }}
                    <div class="text-danger position-relative mt-1">
                        {{ form_errors(formTopicView.title) }}
                    </div>
                </div>

                <div class="w-100">
                    {{ form_widget(formTopicView.content, { 'attr': {'class': 'message-topic py-2 px-2 w-100'} }) }}
                    <div class="text-danger position-relative mt-1">
                        {{ form_errors(formTopicView.content) }}
                    </div>
                </div>

                <div class="w-25">
                    {{ form_widget(formTopicView.image, { 'attr': {'class': 'image-topic w-100'} }) }}
                    <div class="text-danger position-absolute mt-1">
                        {{ form_errors(formTopicView.image) }}
                    </div>
                </div>


                <div class="text-end">
                    {{ form_widget(formTopicView.submit, { 'attr': {'class': 'button-publish mb-4'}, 'label' : "Modifier" }) }}
                </div>
                {{ form_end(formTopicView) }}
            </div>

        </section>

    </main>

{% endblock %}
