{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un continent{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main class="container py-5">
        <h1 class="text-center mb-4">Créer un continent</h1>

        <div class="card bg-dark text-light p-4 shadow-lg">
            {{ form_start(formContinentView) }}

            <div class="mb-3">
                {{ form_label(formContinentView.name, 'Nom du continent') }}
                {{ form_widget(formContinentView.name) }}
                {{ form_errors(formContinentView.name) }}
            </div>

            <div class="text-center">
                {{ form_widget(formContinentView.submit) }}
            </div>

            {{ form_end(formContinentView) }}
        </div>

    </main>

{% endblock %}
