{% extends 'admin/base.html.twig' %}

{% block title %}Liste des pays d'{{ continent.name }}{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <main class="container py-5">

        <a href="{{ path('country_create', {'slug': continent.slug}) }}" class="btn btn-primary btn-sm me-2">Ajouter un
            pays</a>


        <!-- Liste des pays -->
        {% if countries|length > 0 %}
            <div class="row g-4">
                {% for country in countries %}
                    <div class="col-md-6 col-lg-4">

                        <div class="card h-100">

                            <div class="card-body text-center">

                                <h3 class="card-title">{{ country.name }}</h3>

                                <img src="{{ asset('assets/img/uploads/country/flags/' ~ country.flag) }}"
                                     alt="Drapeau de {{ country.name }}" class="img-fluid my-3">
                                <img src="{{ asset('assets/img/uploads/country/banners/' ~ country.banner) }}"
                                     alt="Bannière de {{ country.name }}" class="img-fluid my-3">

                                <div class="d-flex justify-content-center gap-2">

                                    <a href="{{ path('country_update', {'slugContinent': continent.slug, 'slug': country.slug}) }}"
                                       class="btn btn-warning btn-sm">Modifier</a>

                                    <a href="{{ path('country_show', {'slugContinent': continent.slug, 'slug': country.slug}) }}"
                                       class="btn btn-primary btn-sm">Voir</a>

                                    <a href="{{ path('country_delete', {'slugContinent': continent.slug, 'slug': country.slug}) }}"
                                       class="btn btn-danger btn-sm">Supprimer</a>

                                </div>

                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center mt-4 text-danger fs-5">Aucun pays trouvé.</p>
        {% endif %}

    </main>

{% endblock %}
