{% extends 'admin/base.html.twig' %}

{% block title %}Liste des discussions{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/forum/post/list/style.css') }}">

{% endblock %}


{% block body %}

    <main class="container-fluid">

        <h1 class="text-center mt-5 mb-5">Listes des discussions sur le forum</h1>

        <section class="w-75 m-auto">
            <div class="w-100 mt-5">

                <div class="forum-row row">
                    <div class="head-text col-6">Sujet</div>
                    <div class="head-text text-start col-2">Auteur</div>
                    <div class="head-text text-center col-2">Nb msg</div>
                    <div class="head-text text-center col-2">Der. message</div>
                </div>

                <hr class="line">

                {% for post in posts %}

                    <a class="text-decoration-none show-post" href="{{ path('admin_show_post', {'id': post.id}) }}">
                        <div class="forum-row row">
                            <div class="data-text col-6">{{ post.title }}</div>
                            <div class="data-text text-start col-2">{{ post.user.username }}</div>
                            <div class="data-text text-center col-2">{{ post.getRepliesCount() }}</div>
                            <div class="data-text text-center col-2">{{ post.getLastActivityDate|date("\\l\\e d/m à H\\hi") }}</div>
                        </div>
                    </a>

                    <hr class="line">
                {% endfor %}

            </div>

        </section>

    </main>

{% endblock %}


