{% extends 'admin/base.html.twig' %}

{% block title %}Liste des posts{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <h1>{{ post.title }}</h1>
    <h2>{{ post.content }}</h2>
    <h3>{{ post.user.username }}</h3>
    <div>
        <img src="{{ asset('assets/img_uploads/img_forum/' ~ post.image) }}" alt="Image qu'un utilisateur du forum a posté">
    </div>

        <a href="{{ path('admin_delete_post', {'id': post.id}) }}">Supprimer</a>


    <h2>Réponses</h2>

    {% for reply in replies %}

        <p>{{ reply.content }}</p>
        <p>{{ reply.user.username }}</p>
        <div>
            <img src="{{ asset('assets/img_uploads/img_forum/' ~ reply.image) }}" alt="Image qu'un utilisateur a posté en réponse à un post">
        </div>

            <a href="{{ path('admin_delete_reply', {'id': reply.id}) }}">Supprimer</a>

    {% endfor %}


{% endblock %}



