{% extends 'public/base.html.twig' %}

{% block title %}Liste des topics{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/public/css/forum/topic/list.css') }}">

{% endblock %}


{% block body %}

    <main class="container-fluid">

        <div class="search-new-topic m-auto d-flex align-items-center justify-content-between mt-5">

            <form class="d-flex div-search" action="{{ path('topic_list') }}" method="get">
                <input class="input-search text-start" type="text" name="search"
                       placeholder="Rechercher un topic">
                <button type="submit" class="button-search"><img class="w-100 h-100 img-fluid object-fit-contain"
                                                                 src="{{ asset('assets/img/forum/search.png') }}"
                                                                 alt="Image d'une loupe de recherche"></button>
            </form>

            <button class="button-new-topic d-inline d-sm-none p-0"
                    onclick="window.location.href='{{ path(app.user ? 'topic_create' : 'login_user') }}';"
                    aria-label="Créer un nouveau topic">
                <img src="{{ asset('assets/img/forum/message-square.svg') }}" alt="Créer un nouveau topic">
            </button>

            <button class="button-new-topic d-none d-sm-inline"
                    onclick="window.location.href='{{ path(app.user ? 'topic_create' : 'login_user') }}';"
                    aria-label="Créer un nouveau topic">
                Nouveau topic
            </button>

        </div>

        <section class="list-topics m-auto">
            <div class="w-100 mt-5">
                <div class="forum-row row justify-content-between">
                    <div class="head-text col-5 col-lg-6">Sujet</div>
                    <div class="head-text text-start col-3 col-lg-2">Auteur</div>
                    <div class="head-text text-center col-3 col-lg-2">Nb msg</div>
                    <div class="head-text text-center d-none d-lg-flex col-lg-2">Der. message</div>
                </div>

                <hr class="line">

                {% for topic in topics %}

                    <a class="text-decoration-none show-post" href="{{ path('topic_show', {'id': topic.id}) }}">
                        <div class="forum-row row justify-content-between align-items-center">
                            <div class="data-text col-6 col-lg-6">{{ topic.title }}</div>
                            <div class="data-text text-start col-3 col-lg-2">{{ topic.user.isDeleted ? 'supprimé' : topic.user.username }}</div>
                            <div class="data-text text-center col-3 col-lg-2">{{ topic.getRepliesCount() }}</div>
                            <div class="data-text text-center d-none d-lg-block col-lg-2">{{ topic.getLastActivityDate|date("\\l\\e d/m à H\\hi") }}</div>
                        </div>
                    </a>

                    <hr class="line">
                {% endfor %}

            </div>

        </section>

    </main>



{% endblock %}
