{% extends 'public/base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <a href="{{ path('reply_create', {'id': topic.id}) }}">Répondre</a>

    <h1>{{ topic.title }}</h1>
    <p>{{ topic.content }}</p>
    <h2>{{ topic.date|date('\\l\\e d/m à H\\hi') }}</h2>
    <p>Créé par {{ topic.user.isDeleted ? 'Utilisateur supprimé' : topic.user.username }}</p>
    <img src="{{ asset('uploads/forum/topics/' ~ topic.image) }}" alt="Image du topic">
    {% if topic.user == app.user %}
        <a href="{{ path('topic_update', {'id': topic.id}) }}">Modifier</a>
        <a href="{{ path('topic_delete', {'id': topic.id}) }}">Supprimer</a>
    {% endif %}

    {% for reply in replies %}
        <p class="text-danger">{{ reply.content }}</p>
        <p>Créé par {{ reply.user.isDeleted ? 'Utilisateur supprimé' : reply.user.username }}</p>
        <h2>{{ reply.date|date('\\l\\e d/m à H\\hi') }}</h2>
        {% if reply.image %}
            <img src="{{ asset('uploads/forum/replies/' ~ reply.image) }}" alt="Image de la réponse">
        {% endif %}
        {% if reply.user == app.user %}
            <a href="{{ path('reply_update', {'id': topic.id, 'replyId': reply.id}) }}">Modifier</a>
            <a href="{{ path('reply_delete', {'id': topic.id, 'replyId': reply.id}) }}">Supprimer</a>
        {% endif %}
    {% endfor %}

{% endblock %}
